# set

## Unordered
## Duplicates Not Allowed

In [1]:
k={1,1,1,2,2,1,1}
k

{1, 2}

In [4]:
myset = {"apple",89,"banana", "cherry", False, True, 1,0,5,9,90,8,90}
myset

{5, 8, 89, 9, 90, False, True, 'apple', 'banana', 'cherry'}

In [2]:
print(len(myset))

9

In [2]:
a={1,1,2,2,2,2,3,4,4}
a

{1, 2, 3, 4}

In [3]:
mylist=[1,2,2,2,3,454]
myset=set(mylist)
myset

{1, 2, 3, 454}

In [2]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

cherry
apple
banana

In [3]:
myset = {1,1,1,1,2,3,3,4}
myset

{1, 2, 3, 4}

# add

In [8]:
myset = {"apple", "banana", "cherry"}

myset.add("hi")

print(myset)

{'hi', 'banana', 'cherry', 'apple'}

In [7]:
myset = {"apple", "banana", "cherry"}
myset1 = {"pineapple", "mango", "papaya"}

myset.update(myset1)

print(myset)

{'pineapple', 'mango', 'cherry', 'apple', 'papaya', 'banana'}

In [7]:
myset = {"apple", "banana", "cherry"}
mylist = {"kiwi", "orange","apple"}

myset.update(mylist)

print(myset)

{'cherry', 'kiwi', 'orange', 'apple', 'banana'}

# remove

In [8]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'cherry', 'apple'}

In [10]:
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

{'cherry', 'apple'}

In [13]:
myset = { "banana","apple","hji",8.0,9,78,89}
print(myset)
x = myset.pop()

print(x)

print(myset)

{89, 'apple', 'hji', 8.0, 9, 'banana', 78}
89
{'apple', 'hji', 8.0, 9, 'banana', 78}

In [8]:
myset = {"apple", "banana", "cherry"}

del myset

print(myset)

NameError: name 'myset' is not defined

78

In [5]:
l=[1,2,3,4]
for i in l:
    for j i

1
2
3
4