# set join

# union

In [1]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}

set3 = set1.union(set2)
print(set3)

{1, 2, 'orange', 3, 6, 8, 'banana', 'apple'}

In [2]:
set1 = {"apple", "banana", "orange"}
set2 = {1, 2, 3}

set3=set1|set2

set3

{1, 2, 3, 'apple', 'banana', 'orange'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

In [1]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'b', 1, 2, 'c', 3, 'a'}

In [2]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 'c', 3, 'a'}

# Intersection

In [3]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set3=set1.intersection(set2)
set3

{'apple'}

In [5]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print(result)  # Output: {3, 4}
print(set1)    # Output: {1, 2, 3, 4} (unchanged)

{3, 4}
{1, 2, 3, 4}

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [7]:
set1 = {"apple", "banana", "cherry","microsoft"}
set2 = {"google", "microsoft", "apple"}
set3=set1.intersection(set2)
print(set3)
print(set1)
set1.intersection_update(set2)
print(set1)

{'microsoft', 'apple'}
{'banana', 'microsoft', 'cherry', 'apple'}
{'microsoft', 'apple'}

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

# Difference

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'microsoft', 'google'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2 - set1
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

## Symmetric Differences

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

In [ ]:
k=(1,2,3,344,5,5,578)
l=[8,6,6,88,9]