#  Python Classes and Objects

In [3]:
class myobject:
    x=5
    y=x+7
    print(y)

12

In [1]:
class myobject:
    x=5
    y=89
    z=x+y
    
object1=myobject()
print(object1.z)

94

In [ ]:
class collge:
    k=8


myclg=collge()
print(myclg.k)

In [ ]:
class myobject:
    x=5
    y=90
    z=89
    output1=(x+y+z)
p1=myobject()
print(p1.output1)

In [4]:
def add(a,b):
    return a+b

def sub(a,b)
    return a+b
k=add(5,7)
k1=sub()

12

In [6]:
class myobject:
    def add(self):
        a=4
        b=5
        return a+b
    def sub(self):
        a=90
        b=5
        print(a-b)

cal=myobject()
k=cal.add()
print(k)
# cal.sub()

9

In [7]:
class myobject:
    def add(self):
        a=4
        b=5
        return a+b
    def sub(self):
        a=90
        b=5
        print(a-b)

class myobject1:
    def add(self):
        a=8
        b=90
        c=a+b
        print(a+b)
    def sub(self):
        a=78
        b=512
        print(a-b)


        
add1=myobject1()
k=add1.add()
k



# k1=add1.sub()

98

In [ ]:
# input1=int(input("enter the number 1"))
# input2=int(input("enter the number 2"))
# a=input1
# b=input2
# c=8
def add(a,b):

    num1=a
    num2=b
    print(a+c)
# def sub():
#     print(a-b)
add(5,8)
sub()

In [ ]:
class myobject:
    def add(self):
        a=4
        b=5
        return (a+b)



add1=myobject()
k=add1.add()
print(k)

# __init__() function

In [ ]:

class myobject():
    def __init__(self,a,b,c):
        self.num1=a
        self.num2=b
        self.num3=c

    def add(self):
        print(self.num1+self.num2)

    def sub(self):
        print(self.num3-self.num2)
        
    # def name1(self):
    #     print(self.name1)
    # def age1(self):
    #     print(self.age1)
    # def detail(self):
    #     print(self.name1,self.age1)
num1=int(input("enter the number"))   
num2=int(input("enter the number"))   
num3=int(input("enter the number"))   

clg=myobject(num1,num2,num3)
clg.add()
clg.sub

# clg.name1()
# clg.age1()
# clg.detail()()

In [ ]:
class calcu():
    def __init__(self,a,b,c):
        self.num1=a
        self.num2=b
        self.num3=c
    def add(self):
        print(self.num1+self.num2)


object=calcu(67,90,89)
object.add()

In [ ]:
a=7
b=8


def add1():
    return(a+b)


def sub():
    print(a-b)

k=add1()
print(k)

In [ ]:
class math1:
    def __init__(self,a,b,c,d):
        self.num1=a
        self.num2=b
        self.num3=c
        self.num4=d

    def add(self):
        return(self.num1+self.num2)

object=math1(2,3,4,5)
k=object.add()
print(k)



object1=math1(6,78,489,5)
k1=object1.add()
print(k1)

# __str__() function

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def name(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)
a=p1.name()
print(a)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    print( f"{self.name}({self.age})")

p1 = Person("John", 36)
print(p1)

In [ ]:
class Person:
  def __init__(self, name, age,dept):
    self.name = name
    self.age = age
    self.dept = dept


  def __str__(self):
    return f"{self.name}({self.age})({self.dept})"

p1 = Person("John", 36,"dept")
print(p1)

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person(name={self.name}, age={self.age})"

# Creating an object
p = Person("Alice", 30)

# Using print or str()
print(p)  # Output: Person(name=Alice, age=30)
print(str(p))  # Output: Person(name=Alice, age=30)

In [ ]:
class Person:
  def __init__(myobject, name, age):
    myobject.name = name
    myobject.age = age

  def myfunc(abc):
    return("Hello my name is " + abc.name)

p1 = Person("John", 36)
# p1.myfunc()
print(p1)

In [ ]:
class object:
    def __init__(self,a,b):
        self.name=a
        self.age=b
    def details(self):
        return (f"i am {self.name}")

det=object("raja",89)
print(det)

In [ ]:
class object1:
    def __init__(self,a,b):
        self.name=a
        self.age=b
    def __str__(self):
        return (f"i am {self.name}")

det1=object1("raja",89)
print(det1)

In [ ]:
class college:
    def __init__(self,a):
        self.k=a
    def add(self):
        print(a)

c1=college("abc")
c1.add()