In [ ]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
for i in range(len(mylist)):
    print(mylist[i])

In [ ]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort()
print(mylist)

In [ ]:
mylist = [100, 50, 65, 82, 23]
mylist.sort()
print(mylist)

In [ ]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort(reverse = True)
print(mylist)

In [ ]:
mylist = [10,13,78,67]
mylist.sort(reverse = True)
print(mylist)

In [ ]:
mylist = ["apple", "banana", "cherry"]
copylist = mylist.copy()
print(copylist)

In [1]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]
print(l1+l2)

In [ ]:
list1 = ["a", "b", "c","d"]
list2=[]
for i in list1:
    list2.append(i)
list2

## Tuple

### Tuples are used to store multiple items in a single variable.
### Ordered
### Unchangeable
### Allow Duplicates

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(type(mytuple))

In [ ]:
mylist1 = ["apple", "banana", "cherry"]
print(type(mylist1))

In [4]:
t=(1,2,3,4,6)
l=list(t)

l.append(88)
print(l)
t=tuple(l)
t

[1, 2, 3, 4, 6, 88]

(1, 2, 3, 4, 6, 88)

In [ ]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[1:])

In [ ]:
mylist = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mylist[:3])

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
veg = ("apple", "banana", "cherry")

(green, yellow, red) = veg

print(green)
print(yellow)
print(red)

In [5]:
veg = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,red) = veg

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 3)

In [11]:
veg = ("apple", "mango", "papaya", "pineapple", "cherry",9,0,0,78,778)

(green, *tropic,yellow,red) = veg

print(green)
print(tropic)
print(yellow)
print(red)

['apple', 'mango', 'papaya', 'pineapple', 'cherry', 9, 0]
0
78
778

In [ ]:
mytuple = ("apple", "banana", "cherry")
for i in mytuple:
  print(i)

In [ ]:
mylist = ("apple", "banana", "cherry")
for i in range(len(mylist)):
  print(mylist[i])

In [ ]:
mytuple1 = ("a", "b" , "c")
mytuple2 = (1, 2, 3)

mytuple3 = mytuple1 + mytuple2
print(mytuple3)

In [12]:
mylist = (1, 3,8, 7, 5, 4, 6, 8, 5)

x = mylist.index(5)

print(x)

4

In [13]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mytuple.count(7)

print(x)

2

In [ ]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
list1=list(mytuple)
list1.append("hi")
mytuple=tuple(list1)
mytuple

In [ ]:
#input
k=(1,32,5,870,90)
k1=(67,349)

# output
k=(1,32,5,870,90,67,349)

In [ ]:
k=tuple(list(k)+list(k1))
k

In [ ]:
k=[1,3,4,78,89]
67