In [ ]:
day = 7
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [16]:
i = 1
while i < 6:
  print(i)
  i += 3
else:
  print("i is no longer less than 6")

1
4
i is no longer less than 6

In [18]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [26]:
fruits=["vik","ser","eat"]
for x in fruits:
    print(x)
    if x=="ser":
      break

vik
ser

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [27]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [28]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29